<header class="header">
    <img class="header_svg" src="./c:\Users\Пользователь\Downloads\logo.png">
    <h1 class="header-title">find best events around the world</h1>
        <div class="search-bar">
            <input class="search-bar__input" type="text" placeholder="Start searching">
            <button class="search-bar__button" type="submit"></button>
            <img class="search-bar__svg" src="./">
        </div>
        <div class="choose-country">
            <input class="choose-country__input" type="text" placeholder="Choose-country">
            <button class="choose-country__button" type="submit"></button>
            <img class="choose-country__svg" src="./">
        </div>
        
</header>