<header class="header">
  <!-- <div class="inner-container"> -->
  <div class="header-up">
    <img class="header_svg" src="./images/header/logo_header-computer.png" />
    <h1 class="header-title">find best events <br />around the world</h1>
  </div>
  <div class="container-div">
    <div class="search-bar">
      <input
        class="search-bar__input"
        type="text"
        placeholder="Start searching"
      />
      <a class="search-bar__button" href=""
        ><img class="search-bar__svg" src="./images/header/search.svg"
      /></a>
    </div>
    <div class="choose-country">
    <select class="choose-country__select"><option class="choose-country__option">Choose country</option></select>
    <ul id="country-list"></ul>
    </div>
  </div>
  <!-- </div> -->
</header>
