<header class="header">
    <img class="header_svg" src="./c:\Users\Пользователь\Downloads\logo.png">
    <h1 class="header-title">FIND BEST EVENTS
        AROUND THE WORLD</h1>
        <div class="search-bar">
            <input class="search_input" type="text" placeholder="Start searching">
            <button class="search_button" type="submit"></button>
            <img class="input-svg" src="./">
        </div>
        <div class="choose-country">
            <input class="choose_input" type="text" placeholder="Choose-country">
            <button class="search_button" type="submit"></button>
            <img class="input-svg" src="./">
        </div>
        
</header>