.cards {
  padding-top: 51px;
  padding-bottom: 60px;
  @include flex($direction: column);
  @media screen and (min-width: 1280px) {
    padding-bottom: 80px;
  }
}

.cards-list {
  @include flex();
  gap: 14px;
  min-height: 100vw;

  @media screen and (min-width: 768px) {
    gap: 27px;
  }

  @media screen and (min-width: 1280px) {
    gap: 70px;
  }

  .cards-list__image {
    border-radius: 50px 0px;
    width: 128px;
    height: 161px;
    object-fit: cover;

    @media screen and (min-width: 768px) {
      width: 180px;
      height: 227px;
    }

  }

  .cards-item {
    width: 128px;
    @include flex($direction: column);
    text-align: center;
    gap: 5px;

    @media screen and (min-width: 768px) {
      width: 180px;
    }
  }

  .cards-list__title {
    color: $tittle-color;
    @include text(14px, $fweight: 700);
    max-width: 128px;
    max-height: 35px;
    overflow: auto;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      max-width: 180px;
    }
  }

  .cards-list__date {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    @include text(14px);

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  .cards-place {
    @include flex();
    gap: 3px;

    &__text::before {
      content: url(".././images/cards/place.png");
      margin-right: 5px;
      width: 6px;
      height: 9px;

      @media screen and (min-width: 768px) {
        width: 7px;
        height: 10px;
      }
    }
    &__text {
      color: $primary-color;
      @include text(12px, $fweight: 600);

      @media screen and (min-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

.info  {
  color: white;
  font-size: 36px;

}